{% extends 'easymanage/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="about-section">
        <h1>About Easy Manage.com</h1>
    </div>
   <div class="row">
        <div class="home">
            <img src="{% static "images/hotel.jpg" %}" alt="" >
        </div>
    </div>
    <div class="paragraph">
        <p>Easy Mange.com is a website for the employees of the Firefly Hotel to track record of the customers that enjoyed stay with us. Also, the hotel users could track the customer list, their purchases made during the stay and can easily check for room availability.</p>
        <p>Kindly contact the admin at fireflyadmin@gmail.com for further details and access to the website. </p>

{% endblock %}